html {
    overflow-y: scroll;
}
figure.logo {
    margin: 0.5em;
}
body {
    background: whitesmoke;
    font-family: "Courier New";
    color: black;
    margin: auto;
    font-size: 1rem;
    max-width: 1000px;
}
button {
    font-family: "Courier New";
}
input, textarea, button, .button {
    font-family: "Courier New";
    background: whitesmoke;
    color: black;
    border-style: solid;
    border-color: silver;
    border-width: 2px;
    font-size: 1rem;
    outline: none;
}
input[type=submit], button, .button {
    background: whitesmoke;
    border-width: 3px;
    color: black;
    font-size: 1em;
}
ul {
    padding: 0 0 0 1em;
    margin 0;
}
li {
    list-style: none;
    padding: 0 0 1em 0;
}
.button {
    padding: 0 8px 0 8px;
}
input:focus, textarea:focus, .button:focus {
    background: gainsboro;
    border-color: black;
}
/*
textarea::selection, input::selection  {
    background: black;
    color: whitesmoke;
}
*/
input[type=submit]:hover, input[type=button]:hover, button:hover, .button:hover{
    background: gainsboro;
    border-color: black;
}
.clearer {
    clear: both;
}
.menu {
    background: silver;
    color: #000000;
}
.menu ul {
    margin: 0 0.1em 0 0em;
    padding: 0;
    list-style: none;
    display: inline;
}
.menu li {
    display: inline;
    padding: 0;
    float: left;
}
.menu li:after {
    content: "|";
    padding: 0 1em 0 1em;

}
.menu li:last-child:after {
    content: "";
    padding: 0 0 0 0;
}
.menu li a, .button {
    text-decoration: none;
    color: black;
}
.menu li a:hover, .menu li a:focus {
    color: whitesmoke;
    background: black;
}
.main_menu {
    float: left;
}
.login_menu {
    float: right;
}
.menu_line {
    clear: both;
}
.index p {
    padding: 0 0 0 1em;

}
.frontpage_table {
    padding: 0 0 0 1em;
    border-spacing: 1em;
    margin-left: -1em;

}
.flash li {
    list-style: none;
    padding: 0;
    margin: 0;
}
.flash ul {
    margin: 0.2em 0 0 0;
    padding: 0 0 0 0em;
    background: gainsboro;
    font-weight: bold;
}

.poll_title span {
    color: #707070;
    font-size: 0.8em;
}
.new_poll ul {
    padding: 0 0 0 1em;
    margin: 0;
}
.new_poll li {
    list-style: none;
    padding: 0 0 1em 0;
}
.new_poll label {
    display: block;
    font-weight: bold;
}
.new_poll input[type=submit] {
}
.login ul {
    padding: 0 0 0 1em;
    margin 0;
}
.login li {
    list-style: none;
    padding: 0 0 1em 0;
}
.login label {
    display: block;
}
.register ul {
    padding: 0 0 0 1em;
    margin 0;
}
.register li {
    list-style: none;
    padding: 0 0 1em 0;
}
.register li p {
    padding: 0 0 0 1em;
    width: 50%;
}
.register label {
    display: block;
}
.poll_menu ul {
    padding-left: 0;
}
.poll_menu li {
    display: inline-block;
}
.poll_menu a {
    display: inline-block;
}
.poll .section {
    margin: 0 0 3em 1em;
}
.poll .section ul {
    display: block;
    padding: 0 0 0 0;
}
.poll .section li {
    display: block;
    padding: 0 0 0.2em 0;
}
.poll li:empty {
    display: none;
}
.poll form {
    display: inline-block;
}
.poll #new_customer {
    margin: 0em 1em 1em 0;
}
.poll table {
    padding: 0;
    border-spacing: 1em;
    margin: -1em;
}
.poll .control_buttons .button {
    margin: 0em 1em 0 0;
}
@media screen and (max-width: 1000px) {
    .poll .url {
        width: 70%;
    }
    .poll tr {
        width: 100%;
    }
    .poll .section {
        padding: 0 0 3em 1em;
    }
    .poll thead {
        display: none;
    }
    .poll tr {
        display: block;
        margin: 0 0 3em 0;
    }
    .poll tr:last-child {
        margin: 0 0 0 0;
    }
    .poll thead tr {
        display: none;
    }
    .poll thead td {
        margin: 0;
        size: 0;
    }
    .poll td {
        display: block;
    }
    .poll table {
        padding: 0;
        border-spacing: 0;
        margin: 0;
        width: 100%;
    }
    .poll td.control_buttons {
        padding: 0;
    }
    .poll td:before {
        content: attr(data-label);
        font-weight: bold;
        width: 20%;
        display: inline-block;
    }
    .poll td.control_buttons:before {
        float: left;
    }
    .poll td.control_buttons .button {
        margin: 1em;
    }
    .poll td.control_buttons .button:first-child {
        margin: 1em 1em 1em 0;
    }
}
form {
    padding: 0 0 0 0;
    /*border: 1px solid #CCC;
    border-radius:1em;
    */
}
#grade_radios label {
    display: inline-block;
    margin: 5px 0 0 0;
    width: 23.8em;
}
#grade_radios span {
    float: right;
    border: solid;
    display: inline-block;
    width: 12em;
    height: 1em;
}
#save_reset {
    padding: 1em 0 1em 0;
}
/*
ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
form li + li {
    margin-top: 1em;
}
label {
    display: block-inline;
    margin-bottom: 0.2em;
}

*/
