<!DOCTYPE html>
<html>
    <head>
        <title>Ajanvarausjärjestelmä</title>
        <link href="/static/style.css" rel="stylesheet">
    </head>
    <body>
        <a href="/">Etusivu</a>
        {% if session['user_id'] %}
        <a href="/new_poll">Luo uusi kysely</a>
        Käyttäjä: {{ session['username'] }}
        <a href="/logout">Kirjaudu ulos</a>
        {% else %}
        <a href="/login">Kirjaudu sisään</a> 
        <a href="/register">Uusi käyttäjä</a>
        {% endif %}
        <hr>
        {% with messages = get_flashed_messages() %}
            <ul>
            {% if messages %}
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
            {% endif %}
            </ul>
        {% endwith %}
        {% block content %}{% endblock %}

    </body>

</html>
