{% extends "base.html" %}

{% block content %}
<div class="index">
<h2>Tervetuloa ajanvaraussivulle!</h2>
<p>Täällä voit perustaa ajanvarauskyselyitä ja jakaa niitä
muille käyttäjille.
</p>
<h3>Omat kyselyt:</h3>
{% if polls|length > 0 %}
<table class="frontpage_table">

    <tr>
        <th>Nimi</th><th>id</th><th>Kuvaus</th>
    </tr>
{% for poll in polls %}
<tr>
    <td>
        <a href="/poll/{{ poll.poll_id }}">{{ poll.name }}</a>
    </td>
    <td>
        {{ poll.poll_id }}
    </td>
    <td>
        {{ poll.description }}
    </td>
            
</tr>
{% endfor %}
</table>
{% else %}
<p>Ei kyselyitä</p>
{% endif %}
</div>
{% endblock %}
