{% extends "base.html" %}
{% block content %}
<div class="login">
<h3>Kirjaudu sisään</h3>
<form action={{ url_for('login', next_url=next_url) }} method="post">
<ul>
    <li>
        <label for="username">Käyttäjätunnus:</label>
        <input type="text" name="username" id="username" autofocus>
    </li>
    <li>
    <label for="password">Salasana:</label>
    <input type="password" name="password" id="password">
    </li>
    <li>
    <input type="submit" value="Kirjaudu">
    <input type="hidden" name="csrf_token" value={{ session.get('csrf_token') }}>
    </li>
</ul>
</form>
</div>

{% endblock %}
