{% extends "base.html" %}
{% block content %}
{% if need_login_redirect %}
<h3>Virhe!</h3>
<p>Kirjaudu ensin sisään</p>
{% endif %}
{% if message  %}
<p>{{ message }}</p>
{% endif %}
<div class="login">
<h3>Kirjaudu sisään</h3>
<form action="/login" method="post">
<ul>
    <li>
        <label for="username">Käyttäjätunnus:</label>
        <input type="text" name="username" id="username" autofocus>
    </li>
    <li>
    <label for="password">Salasana:</label>
    <input type="password" name="password" id="password">
    </li>
    <li>
    <input type="submit" value="Kirjaudu">
    </li>
</ul>
</form>
</div>

{% endblock %}
