{% extends "base.html" %}
{% block content %}

<div class="new_poll">
<h2>Uuden kyselyn luonti</h2>
<form action="/new_poll" method="post">
<ul>
    <li>
        <label for="poll_name">Kyselyn nimi</label>
        <input type="text" name="poll_name" id="poll_name" autofocus>
    </li>
    <li>
        <label for="poll_description">Kyselyn vapaamuotoinen kuvaus</label>
        <textarea name="poll_description" id="poll_description" rows=3 cols=40></textarea>
    </li>
    <li>
        <label for="first_appointment_date">Ensimmäinen mahdollinen päivä varauksille</label>
        <input type="date" name="first_appointment_date" id="first_appointment_date">
    </li>
    <li>
        <label for="last_appointment_date">Viimeinen mahdollinen päivä varauksille</label>
        <input type="date" name="last_appointment_date" id="last_appointment_date">
    </li>
    <li>
        <label for="poll_end_date">Kyselyn päättymispäivämäärä ja -aika</label>
        <input type="date" name="poll_end_date" id="poll_end_date">
        <input type="time" name="poll_end_time" id="poll_end_time" value="23:55" step=300>
    </li>
    <li>
        <input type="submit" value="Lisää kysely">
    </li>
</ul>
</form>
</div>
{% endblock %}
