{% extends "base.html" %}
{% block content %}
{% set active_page = "owner" %}
{% include "poll_navi.html" %}
<script type="text/javascript" src={{ url_for('static', filename='clipboard.js') }}></script>
<script type="text/javascript"
        src={{ url_for('static', filename='confirmations.js') }}></script>



<div class="poll">
{% if customers|length > 0 %}
<h1>Asiakkaat</h1>
<div class="section">
<table>
<thead>
    <tr><th>Asiakas</th><th>Varauksen kesto</th><th></th><th></th></tr>
</thead>
{% for customer in customers %}
<tr>
    <td data-label="Asiakas">{{ customer[2] }}</td>
    <td data-label="Varauksen kesto">{{ customer[1] }}</td>
    <td class="control_buttons" data-label="">
    <a class="button" href={{ url_for('poll_times', poll_id=poll.id, member_id=customer[0]) }}>
        Ajat</a
    >{% if poll.phase < 2 %}<form
    action={{ url_for('new_member_access_link') }} method="post">
        <input class="button" type="submit" value="Luo muokkauslinkki">
        <input type="hidden" name="member_id" id={{ customer[0] }}
               value={{ customer[0] }}>
        <input type="hidden" name="poll_id" value={{ poll.id }}>
        <input type="hidden" name="member_type" value="customer">
        <input type="hidden" name="csrf_token" value={{ session.get('csrf_token') }}>
    </form><form class="delete_customer" action={{ url_for('delete_member') }} method="POST">
        <input class="button" type="submit" value="Poista">
        <input type="hidden" name="poll_id" value={{ poll.id }}>
        <input type="hidden" name="member_id" value={{ customer[0] }}>
        <input type="hidden" name="member_type" value="customer">
        <input type="hidden" name="csrf_token" value= {{ session.get('csrf_token') }}>
    </form>
    {% endif %}
    </td>
</tr>
{% endfor %}
</table>
</div>
{% endif %}

{% if poll.phase < 2 %}
<h2>Luo uusi asiakas</h2>
<div class="section">
<form class="add_customer_form" action={{ url_for('add_customer') }} method="POST">
    <ul>
    <li>
    <label for="customer_name">
        Asiakkaan nimi:
    </label>
    <input type="text" id="customer_name" name="customer_name">
    </li>
    <li>
    <label for="reservation_length">Varauksen kesto:</label>
    <input type="number" id="reservation_length"
           name="reservation_length" min=5 value=60 step=5>
    minuuttia
    </li>
    <br>
    <li>
    <input class="button" type="submit" value="Luo asiakas">
    </li>
    <input type="hidden" name="poll_id" value={{ poll.id}}>
    <input type="hidden" name="csrf_token" value={{ session.get('csrf_token') }}>
    </ul>
</form>
</div>


<h2>Asiakkaanmuokkauslinkit</h2>
<div class="section">
<p>Nämä linkit antavat käyttäjälle oikeuden muokata tietyn asiakkaan aikatoiveita</p>
<table>
    <thead>
    <tr><th>Asiakas</th><th>Url</th></tr>
    </thead>
{% for link in customer_access_links %}
<tr>
    <td data-label="Asiakas">{{ link[1] }}</td>
    <td data-label="Url"><input class="url" type='text' size=30 id={{ link[0] }}
           value={{ url_for('access', url_id=link[0], _external=True) }}
           readonly>
    </td>
    <td class="control_buttons">
    <button class="button copy_button" id={{ link[0] }}>Kopioi linkki
    </button><form class="delete_member_access_link" action={{ url_for('delete_member_access_link') }} method="POST">
        <input class="button" type="submit" value="Poista">
        <input type="hidden" name="url_id" value={{ link[0] }}>
        <input type="hidden" name="poll_id" value={{ poll.id }}>
        <input type="hidden" name="member_type" value="customer">
        <input type="hidden" name="csrf_token" value={{ session.get('csrf_token') }}>
    </form>
    </td>
</tr>
{% endfor %}
</table>
</div>


<h2>Asiakkaanluontilinkit:</h2>
<div class="section">
<p>Nämä antavat käyttäjälle oikeuden luoda kyselyyn uusia asiakkaita
haluamallaan varauksen kestolla. "Asiakkaita luotu"-kohta kertoo, montako
uutta asiakasta linkillä on luotu.</p>
<form action={{ url_for('new_new_customer_link') }} method="post">
    <input id="new_customer" type="submit" value="Luo uusi linkki">
    <input type="hidden" name="poll_id" value={{ poll.id }}>
    <input type="hidden" name="csrf_token" value={{ session.get('csrf_token') }}>
</form>
<table>
    <thead>
    <tr><th>Asiakkaita luotu</th><th>Url</th></tr>
    </thead>
{% for link in new_customer_links %}
<tr>
    <td data-label="Asiakkaita luotu">{{ link[1] }}</td>
    <td data-label="Url"><input class="url" type='text' size=30 id={{ link[0] }}
           value={{ url_for('new_customer', url_id=link[0], _external=True) }}
           readonly>
    </td><td class="control_buttons" data-label=""><button class="button copy_button" id={{ link[0] }}>Kopioi linkki
        </button><form class="delete_new_customer_link" action={{ url_for('delete_new_customer_link') }} method="POST">
        <input type="submit" value="Poista">
        <input type="hidden" name="url_id" value={{ link[0] }}>
        <input type="hidden" name="poll_id" value={{ poll.id }}>
        <input type="hidden" name="csrf_token" value={{ session.get('csrf_token') }}>
    </form>
    </td>
</tr>
{% endfor %}
</table>
</div>
{% endif %}
</div>

{% endblock %}
