{% extends "base.html" %}
{% block content %}
{% include "poll_navi.html" %}
<p>Kuvaus: {{ poll.description }}</h2>
<p>Kyselyn päättymisaika: {{ poll.end }}</p>
<h2>Hallinnoitavat varaukset</h2>
<table>
    <tr><th>Varauksen nimi</th><th>id</th><th>Varauksen kesto</th>
{% for customer in user_customers %}
<tr>
    <td>{{ customer[2] }}</td>
    <td>{{ customer[0] }}</td>
    <td>{{ customer[1] }}</td>
    <td>
    <a href="/poll/{{ poll.poll_id }}/{{ customer[0] }}/times">
    Siirry varaukseen
    </a>
    </td>
</tr>
{% endfor %}
</table>
<h2>Hallinnoitavat resurssit</h2>
<table>
    <tr><th>Resurssin nimi</th>
{% for resource in user_resources %}
<tr>
    <td>{{ resource[0] }}</td>
    <td>
    <a href="/poll/{{ poll.poll_id }}/{{ resource[1] }}/times">
    Siirry resurssiin
    </a>
    </td>
</tr>
{% endfor %}
</table>
{% endblock %}
