{% extends "base.html" %}
{% block content %}
{% set active_page = "owner" %}
{% include "poll_navi.html" %}
<script type="text/javascript"
        src={{ url_for('static', filename='confirmations.js') }}></script>
<h1>Optimointi</h1>
<div class="section">
<form class="optimize_poll" action={{ url_for('optimize_poll') }} method="post">
    <input class="button" type="submit" value="Optimoi ajanvaraukset">
    <input type="hidden" name="poll_id" value={{ poll.id }}>
    <input type="hidden" name="csrf_token" value={{ session.get('csrf_token') }}>
</form>
</div>
<h2>Optimoinnin tulokset:</h2>
<div class="section">
{% if optimization_results|length > 0 %}
{% include "result_view.html" %}
{% else %}
<p>Ei onnistuneita aikavarauksia tai optimointia ei ole suoritettu</p>
{% endif %}
</div>

<h2>Lopullisten tulosten julkaiseminen</h2>
<div class="section">
<p>
Julkaisemalla tulokset tulevat kyselyn osanottajien näkyville.
Julkaisemisen jälkeen kukaan, omistaja mukaan lukien, ei voi enää 
muokata kyselyn tuloksia.</p>
<form class="set_results_final" action={{ url_for('set_results_final') }} method="post">
    <input class="button" type="submit" value="Julkaise optimoinnin tulokset">
    <input type="hidden" name="poll_id" value={{ poll.id }}>
    <input type="hidden" name="csrf_token" value={{ session.get('csrf_token') }}>
</form>
</div>
</div>
{% endblock %}
