{% extends "base.html" %}
{% block content %}
{% include "poll_navi.html" %}
{% if member_type == 'customer' %}
<h2>Asiakkaan varaustoiveet</h2>
<p>Asiakkaan nimi: {{ member_name }}</p>
<p>Varauksen pituus: {{ reservation_length }}</p>
{% if is_owner %}
<form action={{ url_for('modify_customer') }} method="POST">
    <label for="reservation_length">Varauksen pituus minuutteina (5 min tarkkuus)
    </label>
    <input type="number" id="reservation_length" name="reservation_length"
           min=5 value={{ reservation_length }} step=5>
    <input type="submit" value="Muuta">
    <input type="hidden" name="poll_id" value = {{ poll.id }}>
    <input type="hidden" name="member_id" value={{ member_id }}>
    <input type="hidden" name="csrf_token" value={{ session.get('csrf_token') }}>
</form>
{% endif %}
<h3>Esimerkki:</h3>
<p>Jos aikatoiveenasi on väli [10:00, 11:00) "Sopii hyvin" ja muut ajat
"Ei sovi", niin 30 min aika voi silloin alkaa milloin tahansa välillä
[10:00, 10:30)</p>
{% endif %}

{% if member_type == 'resource' %}
<h2>Resurssin saatavuus</h2>
<p>Resurssin nimi: {{ member_name }}</p>
{% endif %}

<div id="day_editors"></div>
<script type="text/javascript" src={{ url_for('static', filename='poll_times.js') }}></script>
<script nonce={{ csp_nonce() }}>
    let timeGrades = {{ time_grades|tojson }};
    let gradeDescriptions = {{ grade_descriptions|tojson }};
    let memberId = {{ member_id }};
    let pollId = {{ poll.id }};
    let csrfToken = '{{ session.get('csrf_token') }}';
    let selectedDay = '{{ selected_day }}'
dom = makeDayEditorDom(timeGrades, gradeDescriptions, 15, memberId,
                          pollId, csrfToken, selectedDay);
    document.querySelector("div[id=day_editors").appendChild(dom);
</script>
<noscript>
{% if time_grades|length > 0 %}
    {% for day in time_grades %}
            <h3>{{ day.date }}</h3>
            {% for interval in day.intervals %}
            <p>{{ interval[0] }}&ndash;{{ interval[1]}}: {{ interval[2] }}</p>
            {% endfor %}
            <form action={{ url_for('new_time_preference') }} method="post">
                {% if member_type == 'customer' %}
                <label for=2>{{ grade_descriptions[2] }}</label>
                <input type="radio" name="satisfaction" id=2 value=2 checked>
                {% endif %}
                <label for=1>{{ grade_descriptions[1] }}</label>
                <input type="radio" name="satisfaction" id=1 value=1 checked>
                <label for=0>{{ grade_descriptions[0] }}</label>
                <input type="radio" name="satisfaction" id=0 value=0>
                <br>
                <label for="start">Aikavälin alku:</label>
                <input type="time" name="start" id="start" step=300>
                <label for="start">Aikavälin loppu:</label>
                <input type="time" name="end" id="end" step=300>
                <br>
                <input type="submit" value="Lisää toive">
                <input type="hidden" name="date" value={{ day.date }}>
                <input type="hidden" name="member_id"
                       value={{ member_id }}>
                <input type="hidden" name="poll_id" value={{ poll.id }}>
                <input type="hidden" name="csrf_token" value={{ session.get('csrf_token') }}>
            </form>
    {% endfor %}
{% endif %}
</noscript>
{% endblock %}
