{% extends "base.html" %}
{% block content %}
{% include "poll_navi.html" %}
<div class="poll">

<div class="poll">
<div class="section">
<ul>
    <li><b>Kuvaus:</b> {{ poll.description }}</li>
    <li><b>Ensimmäinen varauspäivä:</b> {{ poll.first_appointment_date }}</li>
    <li><b>Viimeinen varauspäivä:</b> {{ poll.last_appointment_date }}</li>
    <li><b>Kysely päättyy:</b> {{ poll.end_time }}</li>
</ul>
</div>
{% if is_owner %}
<h3>Hallinnoi kyselyä</h3>
<div class="section">
<form action={{ url_for('modify_poll') }} method="post">
    <input type="submit" value="Lopeta kysely">
    <input type="hidden" name="poll_id" value={{ poll.id }}>
    <input type="hidden" name="end_now" value=1>
    <input type="hidden" name="csrf_token" value={{ session.get('csrf_token') }}>
</form>
<br>
<form action={{ url_for('modify_poll') }} method="post">
<ul>
    <li>
        <label for="poll_end_date">Kyselyn päättymispäivämäärä ja -aika</label>
        <input type="date" name="poll_end_date" id="poll_end_date">
        <input type="text" name="poll_end_time" id="poll_end_time" value="23:55" size=5>
        <ul>
        <li id="end_date_error" aria-live="polite"></li>
        <li id="end_time_error" aria-live="polite"></li>
        </ul>
    </li>
    <li>
        <input type="submit" value="Uusi loppumisaika">
    </li>
    <input type="hidden" name="poll_id" value={{ poll.id }}>
    <input type="hidden" name="csrf_token" value={{ session.get('csrf_token') }}>
</ul>
</form>
</div>

{% else %}
<h2>Hallinnoitavat asiakkaat</h2>
<div class="section">
<table>
<thead>
    <tr><th>Asiakas</th><th>Varauksen kesto</th>
</thead>
{% for customer in user_customers %}
<tr>
    <td data-label="Asiakas">{{ customer[2] }}</td>
    <td data-label="Varauksen kesto">{{ customer[1] }}</td>
    <td class="control_buttons" data-label="">
        <a class="button" href={{ url_for('poll_times', poll_id=poll.id,
                           member_id=customer[0]) }}>
    Siirry varaukseen
    </a>
    </td>
</tr>
{% endfor %}
</table>
</div>

<h2>Hallinnoitavat resurssit</h2>
<div class="section">
<table>
<thead>
    <tr><th>Resurssi</th>
</thead>
{% for resource in user_resources %}
<tr>
    <td data-label="Resurssi">{{ resource[0] }}</td>
    <td class="control_buttons" data-label="">
        <a class="button" href={{ url_for('poll_times', poll_id=poll.id,
                           member_id=resource[1]) }}>
    Siirry resurssiin
    </a>
    </td>
</tr>
{% endfor %}
</table>
</div>
{% endif %}
</div>
{% endblock %}
