{% extends "base.html" %}
{% block content %}
{% set active_page = "owner" %}
{% include "poll_navi.html" %}
<script type="text/javascript" src="/static/poll_owner.js"></script>


<h1>Kyselyn tiedot</h1>
<div class="section">
<ul>
    <li>Kuvaus: {{ poll.description }}</li>
    <li>Ensimmäinen varauspäivä: {{ poll.first_appointment_date }}</li>
    <li>Viimeinen varauspäivä: {{ poll.last_appointment_date }}</li>
    <li>Kysely päättyy: {{ poll.end_time }}</li>
</ul>
</div>

<div class="poll_owner">
{% if customers|length > 0 %}
<h1>Asiakkaat</h1>
<div class="section">
<table>
<thead>
    <tr><th>Asiakas</th><th>Varauksen kesto</th><th></th><th></th></tr>
</thead>
{% for customer in customers %}
<tr>
    <td data-label="Asiakas">{{ customer[2] }}</td>
    <td data-label="Varauksen kesto">{{ customer[1] }}</td>
    <td class="control_buttons" data-label="">
    <a class="button" href="/poll/{{ poll.id }}/{{ customer[0] }}/times">
    Muokkaa</a><form action="/new_member_access_link" method="post">
        <input class="button" type="submit" value="Luo muokkauslinkki">
        <input type="hidden" name="member_id" id={{ customer[0] }}
               value={{ customer[0] }}>
        <input type="hidden" name="poll_id" value={{ poll.id }}>
        <input type="hidden" name="csrf_token" value={{ session.get('csrf_token') }}>
    </form><form action="/delete_member" method="POST">
        <input class="button" type="submit" value="Poista">
        <input type="hidden" name="poll_id" value={{ poll.id }}>
        <input type="hidden" name="member_id" value={{ customer[0] }}>
        <input type="hidden" name="csrf_token" value= {{ session.get('csrf_token') }}>
    </form>
    </td>
</tr>
{% endfor %}
</table>
</div>
{% endif %}


<h2>Luo uusi asiakas</h2>
<div class="section">
<form class="add_customer_form" action="/add_customer" method="POST">
    <ul>
    <li>
    <label for="customer_name">
        Asiakkan nimi
    </label>
    <input type="text" id="customer_name" name="customer_name">
    </li>
    <li>
    <label for="reservation_length">Varauksen kesto:</label>
    <input type="number" id="reservation_length"
           name="reservation_length" min=5 value=60 step=5>
    </li>
    <br>
    <li>
    <input class="button" type="submit" value="Luo asiakas">
    </li>
    <input type="hidden" name="poll_id" value={{ poll.id}}>
    <input type="hidden" name="csrf_token" value={{ session.get('csrf_token') }}>
    </ul>
</form>
</div>


<h2>Asiakkaanmuokkauslinkit</h2>
<div class="section">
<p>Nämä linkit antavat käyttäjälle oikeuden muokata tietyn asiakkaan aikatoiveita</p>
<table>
    <thead>
    <tr><th>Asiakas</th><th>Url</th></tr>
    </thead>
{% for link in customer_access_links %}
<tr>
    <td data-label="Asiakas">{{ link[1] }}</td>
    <td data-label="Url"><input class="url" type='text' size=30 id={{ link[0] }}
           value={{ url_for('access', url_id=link[0], _external=True) }}
           readonly>
    </td>
    <td class="control_buttons">
    <button class="button copy_button" id={{ link[0] }}>Kopioi linkki
    </button><form action="/delete_member_access_link" method="POST">
        <input class="button" type="submit" value="Poista">
        <input type="hidden" name="url_id" value={{ link[0] }}>
        <input type="hidden" name="poll_id" value={{ poll.id }}>
        <input type="hidden" name="csrf_token" value={{ session.get('csrf_token') }}>
    </form>
    </td>
</tr>
{% endfor %}
</table>
</div>


<h2>Asiakkaanluontilinkit:</h2>
<div class="section">
<p>Nämä antavat käyttäjälle oikeuden luoda kyselyyn uusia asiakkaita
haluamallaan varauksen kestolla</p>
<form action="/new_new_customer_link" method="post">
    <input id="new_customer" type="submit" value="Luo uusi linkki">
    <input type="hidden" name="poll_id" value={{ poll.id }}>
    <input type="hidden" name="csrf_token" value={{ session.get('csrf_token') }}>
</form>
<table>
    <thead>
    <tr><th>Url</th></tr>
    </thead>
{% for link in new_customer_links %}
<tr>
    <td data-label="Url"><input class="url" type='text' size=30 id={{ link[0] }}
           value={{ url_for('new_customer', url_id=link[0], _external=True) }}
           readonly>
    </td><td class="control_buttons" data-label=""><button class="button copy_button" id={{ link[0] }}>Kopioi linkki
        </button><form action="/delete_new_customer_link" method="POST">
        <input class="button" type="submit" value="Poista">
        <input type="hidden" name="url_id" value={{ link[0] }}>
        <input type="hidden" name="poll_id" value={{ poll.id }}>
        <input type="hidden" name="csrf_token" value={{ session.get('csrf_token') }}>
    </form>
    </td>
</tr>
{% endfor %}
</table>
</div>

<hr>
<h1>Resurssit</h1>
<div class="section">
<table>
<thead>
    <tr>
    <th>Resurssi</th>
    <tr>
</thead>
{% for resource in resources %}
<tr>
    <td data-label="Resurssi">{{ resource[0] }}</td>
    <td class="control_buttons" data-label="">
    <a class="button" href="/poll/{{ poll.id }}/{{ resource[1] }}/times">
    Muokkaa</a><form action="/new_member_access_link" method="post"><input class="button" type="submit" value="Luo muokkauslinkki"><input type="hidden" name="member_id" id={{ resource[1] }}
           value={{ resource[1] }}>
    <input type="hidden" name="poll_id" value={{ poll.id }}>
    <input type="hidden" name="csrf_token" value={{ session.get('csrf_token') }}>
    </form><form action="/delete_member" method="POST">
        <input class="button" type="submit" value="Poista">
        <input type="hidden" name="poll_id" value={{ poll.id }}>
        <input type="hidden" name="member_id" value={{ resource[1] }}>
        <input type="hidden" name="csrf_token" value={{ session.get('csrf_token') }}>
    </form>
    </td>

</tr>
{% endfor %}
</table>
</div>


<h2>Luo uusi resurssi:</h2>
<div class="section">
<form action="/new_resource" method="post">
<ul>
    <li>
    <label for="resource_name">Resurssin nimi:</label>
    <input type="text" name="resource_name" id="resource_name">
    </li>
    <li>
    <input class="button" type="submit" value="Luo resurssi">
    </li>
    <input type="hidden" name="poll_id" value={{ poll.id }}>
    <input type="hidden" name="csrf_token" value={{ session.get('csrf_token') }}>
</ul>
</form>
</div>


<h2>Resurssinmuokkauslinkit</h2>
<div class="section">
<p>Nämä linkit antavat käyttäjälle oikeuden muokata tietyn resurssin aikoja</p>
<table>
    <thead>
    <tr><th>Asiakas</th><th>Url</th></tr>
    </thead>
{% for link in resource_access_links %}
<tr>
    <td data-label="Resurssi" >{{ link[1] }}</td>
    <td data-label="Url"><input class="url" type='text' size=30 id={{ link[0] }}
           value={{ url_for('new_customer', url_id=link[0], _external=True) }}
           readonly>
    </td>
    <td class="control_buttons" data-label="">
    <button class="button copy_button" id={{ link[0] }}>Kopioi linkki
    </button><form action="/delete_member_access_link" method="POST">
        <input class="button" type="submit" value="Poista">
        <input type="hidden" name="url_id" value={{ link[0] }}>
        <input type="hidden" name="poll_id" value={{ poll.id }}>
        <input type="hidden" name="csrf_token" value={{ session.get('csrf_token') }}>
    </form>
    </td>
</tr>
{% endfor %}
</table>
</div>

<hr>
<h1>Optimointi</h1>
<div class="section">
<form action="/optimize_poll" method="post">
    <input class="button" type="submit" value="Optimoi ajanvaraukset">
    <input type="hidden" name="poll_id" value={{ poll.id }}>
    <input type="hidden" name="csrf_token" value={{ session.get('csrf_token') }}>
</form>
</div>
<h2>Optimoinnin tulokset:</h2>
<div class="section">
{% if optimization_results|length > 0 %}
<table>
    <thead>
    <tr><th>Asiakas</th>
        <th>Resurssi</th>
        <th>Varauksen alkuaika</th>
    </tr>
    </thead>
{% for result in optimization_results %}
    <tr>
        <td data-label="Asiakas">{{ result.customer_member_name }}</td>
        <td data-label="Resurssi">{{ result.resource_member_name }}</td>
        <td data-label="Varauksen alkuaika">{{ result.time }}</td>
    </tr>
{% endfor %}
</table>
{% else %}
<p>Ei tuloksia tai optimointia ei ole suoritettu</p>
{% endif %}
</div>
</div>
{% endblock %}
