{% extends "base.html" %}
{% block content %}
{% set active_page = "owner" %}
{% include "poll_navi.html" %}
{% if customers|length > 0 %}
<h1>Kyselyn varausroolit</h1>
<table>
    <tr><th>Varausroolin nimi</th><th>id</th><th>Varauksen kesto</th>
{% for customer in customers %}
<tr>
    <td>{{ customer[2] }}</td>
    <td>{{ customer[0] }}</td>
    <td>{{ customer[1] }}</td>
    <td>
    <a href="/poll/{{ poll.poll_id }}/{{ customer[0] }}/times">
    Siirry varaukseen
    </a>
    </td>
    <td>
    <form action="/delete_member" method="POST">
        <input type="submit" value="Poista varaus">
        <input type="hidden" name="poll_id" value={{ poll.poll_id }}>
        <input type="hidden" name="member_id" value={{ customer[0] }}>
    </form>
    </td>
    <td>
    <form action="/new_member_access_link" method="post">
    <input type="submit" value="Luo uusi muokkauslinkki">
    <input type="hidden" name="member_id" id={{ customer[0] }}
           value={{ customer[0] }}>
    <input type="hidden" name="poll_id" value={{ poll.poll_id }}>
    </form>
    </td>
</tr>
{% endfor %}
</table>
{% endif %}
</table>

<h2>Varauksenmuokkauslinkit</h2>
<p>Nämä linkit antavat käyttäjälle oikeuden muokata tietyn varausroolin aikoja</p>
<table>
    <tr><th>Url</th><th>Varausroolin nimi</th><th>id</th></tr>
{% for link in customer_access_links %}
<tr>
    <td>{{ url_for('access', url_id=link[0], _external=True) }}</td>
    <td>{{ link[1] }}</td>
    <td>{{ link[2] }}</td>
    <td>
    <form action="/delete_member_access_link" method="POST">
        <input type="submit" value="Poista linkki">
        <input type="hidden" name="url_id" value={{ link[0] }}>
        <input type="hidden" name="poll_id" value={{ poll.poll_id }}>
    </form>
    </td>
</tr>
{% endfor %}
</table>
<h2>Luo uusi varausrooli</h2>
<form action="/add_customer" method="POST">
    <label for="reservation_length">Varattavan ajan pituus:</label>
    <input type="number" id="reservation_length"
           name="reservation_length" min=5 value=60 step=5>
    <label for="customer_name">
        Varaajaroolin nimi
    </label>
    <input type="text" id="customer_name" name="customer_name">
    <br>
    <input type="submit" value="Luo varaajarooli">
    <input type="hidden" name="poll_id" value={{ poll.poll_id}}>
</form>
<h2>Linkit uusien vastaajien kutsumiseksi:</h2>
<p>Nämä antavat käyttäjälle oikeuden luoda kyselyyn uusia vastaajarooleja</p>
<ul>
<table>
<tr><th>Url</th></tr>
{% for link in new_customer_links %}
<tr>
    <td>{{ url_for('new_customer', url_id=link[0], _external=True) }}</td>
    <td>
    <form action="/delete_new_customer_link" method="POST">
        <input type="submit" value="Poista linkki">
        <input type="hidden" name="url_id" value={{ link[0] }}>
        <input type="hidden" name="poll_id" value={{ poll.poll_id }}>
    </form>
    </td>
</tr>
{% endfor %}
</table>

<form action="/new_new_customer_link" method="post">
<h2>Luo vastaajaroolien luomiseen oikeuttava linkki</h2>
<ul>
    <input type="submit" value="Luo linkki">
    <input type="hidden" name="poll_id" value={{ poll.poll_id }}>
</ul>
</form>
<h1>Resurssit</h1>
<table>
<tr>
    <th>Resurssin id</th><th>Resurssin kuvaus</th>
<tr>
{% for resource in resources %}
<tr>
    <td>{{ resource[1] }}</td>
    <td>{{ resource[0] }}</td>
    <td>
    <a href="/poll/{{ poll.poll_id }}/{{ resource[1] }}/times">
    Siirry resurssiin
    </a>
    <td>
    <form action="/delete_member" method="POST">
        <input type="submit" value="Poista resurssi">
        <input type="hidden" name="poll_id" value={{ poll.poll_id }}>
        <input type="hidden" name="member_id" value={{ resource[1] }}>
    </form>
    </td>
    <td>
    <form action="/new_member_access_link" method="post">
    <input type="submit" value="Luo uusi muokkauslinkki">
    <input type="hidden" name="member_id" id={{ resource[1] }}
           value={{ resource[1] }}>
    <input type="hidden" name="poll_id" value={{ poll.poll_id }}>
    </form>
    </td>

</tr>
{% endfor %}
</table>
<h2>Resurssimuokkauslinkit</h2>
<p>Nämä linkit antavat käyttäjälle oikeuden muokata tietyn resurssin aikoja</p>
<table>
    <tr><th>Url</th><th>Resurssin nimi</th><th>id</th></tr>
{% for link in resource_access_links %}
<tr>
    <td>{{ url_for('access', url_id=link[0], _external=True) }}</td>
    <td>{{ link[1] }}</td>
    <td>{{ link[2] }}</td>
    <td>
    <form action="/delete_member_access_link" method="POST">
        <input type="submit" value="Poista linkki">
        <input type="hidden" name="url_id" value={{ link[0] }}>
        <input type="hidden" name="poll_id" value={{ poll.poll_id }}>
    </form>
    </td>
</tr>
{% endfor %}
</table>

<h2>Luo uusi resurssi:</h2>
<form action="/new_resource" method="post">
    <label for="resource_name">Resurssin nimi:</label>
    <input type="text" name="resource_name" id="resource_name">
    <input type="submit" value="Luo resurssi">
    <input type="hidden" name="poll_id" value={{ poll.poll_id }}>
</form>



<h1>Optimointi</h1>
<form action="/optimize_poll" method="post">
    <input type="submit" value="Optimoi ajanvaraukset">
    <input type="hidden" name="poll_id" value={{ poll.poll_id }}>
</form>
<h2>Optimoinnin tulokset:</h2>
{% if optimization_results|length > 0 %}
<table>
    <tr><th>Käyttäjänimi</th>
        <th>Käyttäjän id</th>
        <th>Resurssin kuvaus</th>
        <th>Resurssin id</th>
        <th>Varauksen alkuaika</th>
    </tr>
{% for result in optimization_results %}
    <tr>
        <td>{{ result.customer_member_name }}</td>
        <td>{{ result.customer_member_id }}</td>
        <td>{{ result.resource_member_name }}</td>
        <td>{{ result.resource_member_id }}</td>
        <td>{{ result.time }}</td>
    </tr>
{% endfor %}
</table>
{% else %}
<p>Ei tuloksia tai optimointia ei ole suoritettu</p>
{% endif %}
{% endblock %}
