{% extends "base.html" %}
{% block content %}
<h3>Uusi käyttäjä</h3>
{% if message  %}
<p>{{ message }}</p>
{% endif %}
<form action="/register" method="post">
<ul>
    <li>
        <label for="username">Käyttäjätunnus. 
        Käyttäjätunnuksen tulee sisältää 1-20 merkkiä. 
        Käyttäjätunnus saa sisältää isoja ja pieniä kirjaimia, sekä numeroita.
        </label>
        <input type="text" name="username" id="username">
        <span id="username_error" aria-live="polite"></span>
    </li>
    <li>
        <label for="password">Salasana:</label>
        <input type="password" name="password" id="password">
        <span id="password_error" aria-live="polite"></span>
    </li>
    <li>
        <label for="confirm_password">Salasana uudelleen:</label>
        <input type="password" name="confirm_password" id="confirm_password">
        <span id="confirm_error" aria-live="polite"></span>
    </li>
    <li>
        <input type="submit" value="Luo tunnus">
    </li>
</ul>
</form>
<script type="text/javascript" src="/static/register.js"></script>
{% endblock %}
